In [40]:
import numpy as np
import pandas as pd
import re

In [170]:
df_encoding = pd.read_csv('D:/Project/DB_to_ML.csv')
df_encoding.drop(['Unnamed: 0'], axis = 1, inplace = True)

def split_data(data):
    answer=[]
    a=data
    b=a[0].split(', ')
    for i in range(len(b)):
        c=b[i].split(')')
        answer.append(('품종_'+c[0]+')',int(c[1].split('%')[0])/100))
    return answer

def mapping(answer):
    for i in range(len(answer)):
        df_encoding[answer[i][0]]=answer[i][1]
        
def mapping_taste(data):
    df_encoding['당도_%d'%data[1]]=1
    df_encoding['산도_%d'%data[2]]=1
    df_encoding['바디_%d'%data[3]]=1
    df_encoding['타닌_%d'%data[4]]=1

def DB_to_ML(wine):
    a= split_data(wine)
    mapping(a)
    mapping_taste(wine)
    return df_encoding

In [171]:
df_encoding

,품종_가르가네가 (Garganega),품종_가르나차 (Garnacha),품종_가르나차 (Garnatxa),품종_가르나차 틴토레라 (Garnacha Tintorera),품종_가메이 (Gamay),품종_게뷔르츠트라미너 (Gewurztraminer),품종_고데요 (Godello),품종_그레케토 비앙코 (Grechetto Bianco),품종_그레코 비앙코 (Greco Bianco),품종_그로 만생 (Gros Manseng),...,바디_2,바디_3,바디_4,바디_5,타닌_0,타닌_1,타닌_2,타닌_3,타닌_4,타닌_5
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [151]:
wine=['가르나차(Garnacha) 85%, 카베르네 소비뇽(Cabernet Sauvignon) 5%, 까리네나(Carinena) 5%',1,3,5,4]

In [172]:
DB_to_ML(wine)

,품종_가르가네가 (Garganega),품종_가르나차 (Garnacha),품종_가르나차 (Garnatxa),품종_가르나차 틴토레라 (Garnacha Tintorera),품종_가메이 (Gamay),품종_게뷔르츠트라미너 (Gewurztraminer),품종_고데요 (Godello),품종_그레케토 비앙코 (Grechetto Bianco),품종_그레코 비앙코 (Greco Bianco),품종_그로 만생 (Gros Manseng),...,바디_2,바디_3,바디_4,바디_5,타닌_0,타닌_1,타닌_2,타닌_3,타닌_4,타닌_5
0,0,0.85,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [168]:
print(df_encoding['산도_1'])
print(df_encoding['산도_2'])
print(df_encoding['산도_3'])
print(df_encoding['산도_4'])

0    0
Name: 산도_1, dtype: int64
0    0
Name: 산도_2, dtype: int64
0    1
Name: 산도_3, dtype: int64
0    0
Name: 산도_4, dtype: int64

In [169]:
print(df_encoding['품종_가르나차  (Garnacha) '])
print(df_encoding['품종_카베르네 소비뇽 (Cabernet Sauvignon) '])
print(df_encoding['품종_까리네나 (Carinena) '])

0    0.85
Name: 품종_가르나차  (Garnacha) , dtype: float64
0    0.05
Name: 품종_카베르네 소비뇽 (Cabernet Sauvignon) , dtype: float64
0    0.05
Name: 품종_까리네나 (Carinena) , dtype: float64